
:root{
    font-size: 65.5%; // 10/16 = 62.5% ==> 1rem = 10px
    box-sizing: border-box;

    @include smallerScreen{
        font-size: 46.8%; //7.5/16 => 46.8%, => 1rem = 7.5px
    }

    @include mediumScreen{

    }

    @include largeScreen{

    }

    @include largestScreen{

    }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
    @include background;
    background:set-color($primary-color);
    color: set-color($primary-color);
    height: 100%;
    font-family: $font-stack;
    @include smallerScreen{
        line-height: 1.2;  
    }
}
.main{
    height: 100%;
    padding: 5rem;
    line-height: 1.5;
}

#home {
    overflow: hidden;
    margin-top: 25vh;
    @include smallerScreen{
        overflow: hidden;
    }
    
}