@mixin easeOut {
    transition: all 0.5s ease-in;
}

@mixin background {
    @if $show-image-home {
        &#bg-image {
            background: linear-gradient(rgba(#444, $opacity), rgba(#444, $opacity)), url(../img/background-light-large-2000x1125-2x.jpg);
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

@mixin smallerScreen {
    @media only screen and (max-width: $bp-smaller) {
        @content;
    }
}

@mixin mediumScreen {
    @media only screen and (max-width:$bp-medium) {
        @content;
    }
}

@mixin largeScreen {
    @media only screen and (max-width:$bp-large) {
        @content;
    }
}

@mixin largestScreen {
    @media only screen and (min-width:$bp-largest) {
        @content;
    }
}