$primary-color: #444;
$secondary-color: #eece1a;

$font-stack: "Segoe UI", Tahoma, Verdana, sans-serif;
$show-image-home: true;
$home-background: url(../img/background-light-large-2000x1125-2x.jpg);
$opacity: 0.8;