.projects {
    padding: 4rem;
    display: grid;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-column-gap: 1rem;

    @include smallerScreen{
        grid-template-columns: 1fr;
    }

    &--items__img{
        width: 100%;
        border: .3rem solid #ffffff;

        &:hover {
            opacity: .5;
            border: 3px solid $primary-color;
            @include easeOut;
        }
    }

    .btn-light {
        @extend .btn;
        background: lighten($primary-color, 50);
        color: #333;
        
    }

    .btn-dark {
        @extend .btn;
        background: darken($primary-color, 50);
        color: #ffffff;
    }

    

    .icon {
        height: 2.5rem;
       margin-right: 1rem;
       &:hover {
           fill: set-color($primary-color);
       }
    }
   
}

.btn{
    display: block;
    padding: .5rem 1rem;
    border: 0;
    margin-bottom: .3rem;
    display: flex;
   justify-content: center;

    &:hover {
        background: $secondary-color;
        color: set-color($secondary-color);
        @include easeOut;
    }    
}
//Putting the footer in the second row
#work {
    display: grid;
    grid-template-rows: 95vh 5vh;
}






